<div class="header_btn">
    <a href="{% url 'home' %}">
        <p class="heared_btn_text">Головна</p>
    </a>
</div>
<div class="header_btn">
    <a href="{% url 'company' %}">
        <p class="heared_btn_text">Про компанію</p>
    </a>
</div>
<div class="header_btn">
    <a href="">
        <p class="heared_btn_text">тест1</p>
    </a>
</div>
<div class="header_btn">
    <a href="">
        <p class="heared_btn_text">тест2</p>
    </a>
</div>
<div class="header_btn">
    <a href="">
        <p class="heared_btn_text">тест3</p>
    </a>
</div>